/* priority: inline>>internal>>external css */

body{
    background-color:#71effd;
}

hr{
    background-color: none;
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    height: 5px;;
    width: 17%;
}

h1{
    color: #293462;
}

h3{
    color: #034c6b;
}

ul{
    background:#1bccf9;
    padding: 15px;
}
ul li{
    background-color: #b2fcff;
    color: darkblue;
    border: 5px;
}

table{
    background-color: #b2fcff;
    color: darkblue;
    border: 5px;
}

.muradunset{
    all: unset;
}
/* made a class here so that i can use this class to unset the stylesheet things for some specific portion */
/* but priority of id selector>>class selector */

ol{
    background-color: #3AB4F2;
    padding: 15px;
}
ol li{
    background-color: #b2fcff;
    color: #293462;
    border: 5px;
}